.solution-swiper {
  .swiper-button-prev {
    background-image: url('../../../../public/svg/swipe-arrow-prev.svg');
    left: 0;
    transform: translateX(-50%);

    &:hover {
      transform: translateX(-60%) scale(1.1);
    }
  }

  .swiper-button-next {
    background-image: url('../../../../public/svg/swipe-arrow-next.svg');
    right: 0;
    transform: translateX(50%);

    &:hover {
      transform: translateX(60%) scale(1.1);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: transparent;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;

  }
}